li.wccs-menu-item a{
    font-size:0;
    align-items: center;
}
.flag-icon{
    font-size: 20px;
}

li.menu-item.wccs-click-for-menu > ul > li{
    margin-left:0px;
}
li.menu-item.wccs-click-for-menu > ul{
    background-color:transparent;
}
@include media-breakpoint-down(lg){
    li.wccs-menu-item a{
        justify-content: center;
    }
    li.menu-item.wccs-click-for-menu>ul>li{
        margin-right:0px;
        float:none;
    }
    li.menu-item.wccs-click-for-menu>ul {
        display:block!important;
    }
}