.response{
    width:100%!important;
}
#mc_embed_signup .mc-field-group{
    width: 100%!important;
    padding-bottom:0;
}
.footer-newsletter-input{
    width:500px!important;
    border:0!important;
    border-bottom:1px solid black!important;
    border-radius: 0!important;
}
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error, #mc_embed_signup .helper_text, #mc_embed_signup .mc-field-group input{
    background-color: transparent!important;
}
.nav-footer ul{
    
    margin:0;
    padding:0;
    list-style-type:none;
}
.copyright{
    color:#b1b2b2;
}
.nav-footer li{
    margin: 0 20px;
    float:left;
    position:relative;

    a{
        display:block;
        color:#b1b2b2;
        text-align:center;
        text-decoration:none;
    }
    a:hover, a:active{
        color:$primary;
    }
}
.btn-form, #mc_embed_signup .button{
    background-color: black!important;
    border-radius: 0px!important;
    color:white!important;
    font-size: 14px!important;

    width:200px!important;
    height: 53px!important;
}
.form-mail{
    border: 0px!important;
    background-color:transparent!important;
    border-bottom:solid 1px black!important;
    border-radius:0px!important;
    width:500px!important;
}
#mc_embed_signup .mc-field-group input::placeholder {
    text-align: center;
    text-indent: 0!important;
}
.footer-icons{
    list-style-type:none;
    gap:20px!important;
    li{
        float:left;
        position: relative;
    }
}
.social-icon{
    padding:0.25rem 0.5rem;
}
#mc_embed_signup form{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
@include media-breakpoint-down(lg){
    #mc_embed_signup .mc-field-group input{
        width:100%!important;
    }
    .copyright, .nav-footer{
        font-size: 12px;
    }
    .nav-footer ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}