.lifestyle h2{
    font-size: 100px;
    font-weight: 300;
}
.lifestyle h3{
    margin-bottom: -3rem;
    font-size: 44px;
    font-weight: 500;
}
@include media-breakpoint-down(lg){
    .lifestyle h2{
        font-size: 40px;
     }
     .lifestyle h3{
        font-size: 20px;
        margin-bottom:0px;
    }
}