.popup-input{
    width:75%!important;
    border:0!important;
    border-bottom:1px solid black!important;
    border-radius: 0!important;
}
.modal-header > button{
    border: 0;
    background-color: transparent;

}
.modal-header{
    border:0;
    padding-bottom:0;
}